<div class="jumbotron">
    <h1>Editar dados do BD</h1>

<%= render 'form' %>
    <div class="btn btn-success btn-block">
        <%= link_to 'Show', @store %>
    </div>
    <div class="btn btn-info btn-block">
        <%= link_to 'Back', stores_path %>
    </div>
</div>