    <div class="field">
      <p>Arquivo:<%= documento.file_file_name %></p>
      <p>Tamanho:<%= documento.file_file_size %></p>
      <p>Receita Bruta Total do Arquivo:<%= documento.total %> </p>
    </div>
    

