<div class="jumbotron">
    <h1>Editar o Documento</h1>

        <%= render 'total', documento: @documento %>
<%= render 'form' %>

<%= link_to 'Show', @documento %> |
<%= link_to 'Back', documentos_path %>
</div>