<div class="jumbotron">
    <p id="notice"><%= notice %></p>
        <h1>Dados armazenados</h1>
        <p><%= render 'total', documento: @documento %></p>
    <div class="btn btn-success btn-block">
        <%= link_to 'Edit', edit_documento_path(@documento) %>
    </div>
    <div class="btn btn-info btn-block">
        <%= link_to 'Back', documentos_path %>
    </div>
</div>